body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    /* background: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80); */
    /* background: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background-color: #d8d8d8;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    
    padding-top: 30px;
    min-height: 40px;
    border-bottom: 2.5px solid white;
    margin: auto;
    box-shadow: 0 0 .1em .1em #ccc;
}

header h1 {
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
}

header #branding {
    float: left;
    margin-left: 1.5%;
    color: #ffffff;
    text-shadow: 1.5px 1.5px 1.5px #ccc;
}

header nav {
    float: right;
    margin-top: 10px;
    text-shadow: 1.5px 1.5px 1.5px #ccc;
}

header li {
    color: white;
    font-size: 25px;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: -25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px 1.5px #ccc;
}

.home-container {
    margin: 40px auto;
    border-radius: 20px;
    background-color: white;
    width: 60%;
    height: 60%;
    border: 5px solid white;
    text-shadow: 1.5px 1.5px 1.5px #ccc;
    box-shadow: 0 0 .2em .2em #ccc;
}

#home-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    
}

#input {
      display: block;
      margin: auto;
      width: 50em;
      margin-top: 50px;
      border-radius: 50px;
      height: 50px; 
      padding-left: 20px;
      outline: none;
      box-shadow: 0 0 .2em .2em #ccc;
      border: 3px solid white;
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#button-user {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 .2em .2em #ccc;
    border: 3px solid white;
    margin-right: 50px;
}

#button-content {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 .2em .2em #ccc;
    border: 3px solid white;
}

#input placeholder {
    padding-left: 20px;
}

#home-paragraph {
    font-size: 25px;
    padding-left: 20px;
}

#second-home-paragraph {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.random-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 50px;
    margin-left: 130px;
    background-color: white;
    height:200px;
    width: 700px;
    border-radius: 8px;
}

.unordered-list {
    color: white;
}

#nasa-button {
    display: flex;
    justify-content: center;
    margin:  50px auto;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 100px;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    border: 1px solid grey;
    margin: 0 auto;
    padding: 25px;
    margin-top: 10px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    transform: translate(-50%, -50%);
} 

#spacex-button {
    display: flex;
    justify-content: center;
    margin:  50px auto;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 100px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.search-modal {
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    width: 50%;
    background-color: blue;
}

.modals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 80px;
}