@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #34c6da;
    /* background: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80); */
    /* background: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background-color: #18191a;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

img {
    border-radius: 25px;
}


#input-button {
    margin-left: 32%;
}

header {
    padding-top: 30px;
    min-height: 40px;
    margin: auto;
    max-width: 1100px;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
}

header h1 {
    margin-top: -5px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
}

header #branding {
    float: left;
    margin-left: 1.5%;
    color: #ffffff;
}

header nav {
    float: right;
    margin-top: 10px;
}



header li {
    color: white;
    font-size: 25px;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: -25px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* .home-container {
    margin: 250px auto;
    border-radius: 25px;
    background-color: white;
    width: 40vw;
    height: 60%;
    border: 5px solid white;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
} */

.home-container {
    
    margin: 180px auto;
    width: 50vw;
    border: 3px solid white;
    padding: 35px;
}



.home-container h2 {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}




#input {
      display: block;
      margin: auto;
      width: 25vw;
      margin-top: 50px;
      color: white;
      height: 50px; 
      padding-left: 20px;
      outline: none;
      border: 3px solid white;
      box-shadow: 0 3px 10px rgba(0,0,0,0.2);
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 20px;
      margin-top: 100px;
      background-color: #18191a;
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#button-user {
    color: white;
    width: 250px;
    height: 50px;
    outline: none;
    background-color: #18191a;
    border: 3px solid white;
    margin-right: 50px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    font-family: 'Noto Sans KR', sans-serif;
}

#button-content {
    color: white;
    width: 250px;
    height: 50px;
    outline: none;
    background-color: #18191a;
    border: 3px solid white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    font-family: 'Noto Sans KR', sans-serif;
}

#input placeholder {
    padding-left: 200px;
}

#home-paragraph {
    font-size: 125px;
    padding-left: 20px;
    color: white;
}

.home-container > p {
    color: white;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

#second-home-paragraph {
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.unordered-list {
    color: white;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    border: 1px solid grey;
    margin: 0 auto;
    padding: 25px;
    margin-top: 10px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    transform: translate(-50%, -50%);
} 

button:focus {
    outline: none;
    box-shadow: none;
}

.search-modal {
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    width: 50%;
    background-color: blue;
}

.modals-container {
   display: flex;
   justify-content: center;
}

.modals {
  height: 200px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: -50px;
  background-color: white;
  width: 50vw;
  padding : 35px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.random-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    column-gap: 10px;
}



.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 50px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.random-modal {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 200px;
  overflow: hidden;
  background-color: white;
  width: 50vw;
  padding : 50px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.stats-container {
    display: flex;
    column-gap: 16px;
}

.image-container {
    display: flex;
    column-gap: 2px;
    white-space: nowrap;
}

#screen-name {
    color: gray;
    font-size: 13px;
}

.random-modal {
  gap: 1rem;
  background-color: transparent;
  height: 200px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: -50px;
  background-color: white;
  width: 50%;
  padding : 50px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.card-container {
    display: flex;
    justify-content: center;
}

/* -----------------------------------------------------RANDOM BUTTONS------------------------------------------------------------ */

#nasa-button {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    border: 1px solid black;
}

#spacex-button {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid black;
}

#elon-button {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid black;

}

#gavriel-button {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid black;

}

#dan-button {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid black;

}

.close-button-container {
    margin-top: -20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

#modal-close-button {
    border-radius: 25px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 3px solid white;
}

.nasa-image {
    width: 80px;
}

.spacex-image {
    width: 140px;
}

.musk-image {
    width: 80px;
}

.windows96-image {
    width: 70px;
    margin-top: 10px;
}

.mason-image {
    width: 80px;
}